log/**/*
tmp/**/*
.env
.env.test
/coverage
/.bundle
/.git
/spec
/.env.*
/.rspec*
/.rubocop*
/.ruby-version
/azure-pipelines.yml
/docker-compose*
/Dockerfile*
/Vagrantfile
/docker
coverage
bundle
.git
.env.*
.rspec*
.rubocop*
.ruby-version
azure-pipelines.yml
vendor/bundle
/vendor/bundle
vendor/bundle/**/*
/vendor/bundle/**/*